.camp1,
.camp5 {
    color: red;
}

.camp2,
.camp6 {
    color: blue;
}

.camp4 {
    color: purple;
}

.card1 {
    color: red;
}

.card2 {
    color: green;
}

input[type="number"] {
    width: 40px;
}