.camp1,
.camp5 {
    color: red;
}

.camp2,
.camp6 {
    color: blue;
}

.camp4 {
    color: purple;
}

.card1 {
    color: red;
}

.card2 {
    color: green;
}

body {
    text-align: center;
}

table {
    margin: 5px;
    float: left;
    min-width: 25%;
}

caption {
    font-weight: bold;
}

input[type="number"] {
    width: 40px;
}

textarea {
    width: 125px;
}

#result_table {
    float: initial;
    margin:auto;
}